@tailwind base;
@tailwind components;
@tailwind utilities;


body,
:root {
  height: 100%;
  width: 100%;
}

:root {
  --size-space: 24px;
  --logo-space: calc(var(--size-space) + 14px);
  --nav-size: 100px;
}

body {
  background: linear-gradient(0.25turn, #fca5f1, #b5ffff);
  margin: 0;
  width: 100%;
}

button.btn:hover {
  background: linear-gradient(0.25turn, #fca5f1, #b5ffff);
}

input:focus {
  color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #05FF5A;
}